*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #111827;
    color: #fff;
}
/* ------------- Header ---------------- */
nav{
    margin: 20px;
}
nav ul{
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    font-size: 18px;
}
img[alt="hamburger"]{
    display: none;
    width: 20px;
    cursor: pointer;
}
nav ul li{
    list-style: none;
}
nav ul li:first-child{
    background-color: #6464e0;
    border-radius: 15px;
    padding: 6px 12px;
}
/* -------------------- Hero ------------- */
.hero{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: end; */
}
.hero-left-1{
    display: flex;
    /* width: 100%; */
    gap: 10px;
}
.hero-left-1 h3{
    font-size: 30px;
}
.hero-left-2 h1{
    font-size: 60px;
}
.hero-left-2 h2{
    font-size: 35px;
    color: #c5c559;
}
img[alt="pc-image"]{
    width:30vw;
}
img[alt="waving-hand"]{
    height:45px;
}

/* -------------------- Main ------------- */

.project-heading{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    align-items: center;
}
.project-heading h1{
    font-size: 30px;
}
.project-underline-div{
    height: 10px;
    width: 108px;
    border-radius:10px;
    background-color: #0000ff;
}
.project-container{
    display: grid;
    width:42%;
    margin: 35px auto;
    text-align: center;
    gap:20px;
    grid-template: auto auto/auto auto;
}
img[alt="projects"]{
    width: 100%;
}

/* ------------------ Footer ------------- */

.footer-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-heading h1{
    font-size: 30px;
}
.footer-underline-div{
    height: 10px;
    width: 155px;
    border-radius:10px;
    background-color: #0000ff;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
    gap: 15px;
}
img[alt="social"]{
    height: 30px;
    background-color: black;
}
@media screen and (max-width: 576px){
    nav ul{
        display: none;
    }
    img[alt="hamburger"]{
        display: block;
    }
    .hero{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hero-left{
        display: block;
        flex-direction: row;
    }
    .hero-left-1{
        text-align: center;
        display: block;
    }
    .hero-left-2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* align-items effect reversed above */
    .hero-left-1 h3{
        font-size: 20px;
    }
    .hero-left-2 h1{
        font-size: 40px;
    }
    .hero-left-2 h2{
        font-size: 25px;
        color: #c5c559;
    }
    img[alt="pc-image"]{
        width:60vw;
    }
    .project-container{
        display: flex;
        flex-direction: column;
    }
}