body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

form {
    background-color: #238549;
    padding: 30px;
    border-radius: 10px;
    height: 200px;
    width: 300px;
}

input {
    height: 20px;
}