*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#form-container{
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); 
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
    text-align: center;
}

input{
    border: 2px solid lightgrey;
    margin: 10px 0;
    padding-left: 10px;
    border-radius: 5px;
    height: 40px;
    width: 80%;
}

button{
    background-color: #3897f0;
    color: #fff;
    border: none;
    width: 80%;
    border-radius: 5px;
    padding: 11px;
    font-weight: 600;
}
