*{
margin: 0;
padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
nav{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
}
/* Important Note: Don't put space between nav and .logo */
nav .logo{
    font-weight:700;
    font-size:25px;
}
nav ul{
    display:flex;
    gap: 30px;
}
nav ul li:hover {
    text-decoration: underline;
    font-weight: 900;
  }
.search-field{
    /* border: 2px solid red; */
    /* flex-direction: column; */
    /* height: 40px; */
    display: flex;
    gap: 20px;
}
input{
    padding: 4px 10px;
}
button{
    /* height:80%; */
    /* border: 1px solid white; */
    color: white;
    font-weight:700;
    background-color: rgb(18,155,155);
    border-radius:5px;
    border: none;
    padding: 4px 10px;
    width: fit-content;
    cursor: pointer;
}
button:hover{
    background-color:white;
    color: rgb(18,155,155);
    border: 1px solid black;
}
.hero-section{
    display: flex;
    align-items: center;
}
.hero-section-left{
    width:60%;
    padding: 0 10%;
}
.hero-section-left h1{
    margin-bottom: 10px;
    font-size: 38px;
    font-weight:800;
}
.hero-section-left h1 span{
    color: rgb(18,155,155);
    font-weight: 900;
    background-color: #dfdfe0    ;
}
.hero-section-left p{
    font-size: 30px;
    font-weight: 500;
}
.hero-section-left p span{
    font-weight:700;
    color: rgb(18, 155, 155);
}

.hero-section-right{
    display: flex;
    flex-direction: column;
    width:40%;
    align-items: center;
}
footer{
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
}
/* footer p{
    width: 80%;
} */
footer ul{
    /* width: 20%; */
    display: flex;
    color: black;
    gap: 15px;
    font-size: 23px;
}