/* ---------------- Css Reset --------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input{
    font-size: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
h2{
    margin-top: 20px;
    margin-left: 20px;
}