*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope";
}

body{
    background-color: var(--primary-color);
}
/* Variables */

:root{
    --primary-color:#f6f8fa;
    --secondary-color:#6663e9;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}
button{
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    background-color: var(--secondary-color);
    border:none;
    border-radius: 30px;
}
/* --------------- Header --------------- */

header{
    height: 125vh;
    background: linear-gradient(rgb(0 0 0 / 0.5),rgb(0 0 0 /0.5)),url(./Photos/mainBackground.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 15%;
}
header h1{
    background: transparent;
}
header hr{
    margin: 0 7%;
}
nav ul{
    display: flex;
    gap: 60px;
}
header img[alt="logo-icon1"]{
    height: 45px;
}
header h1{
    font-size: 70px;
    color: white;
    margin: 80px 0 30px 0;
    width: 40%;
}
header p{
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
    width: 30%;
}
header h1,header p,header button{
    margin-left: 10%;
}

/*  ---------------- Logo Images Section ------------ */

.logo-images{
    display: flex;
    justify-content: space-evenly;
    background-color: #ffff;
    padding: 80px 0px;
    margin: 0 40px;
    border-radius: 30px;
    position: relative;
    bottom: 100px;
}

/* --------------- Cards Section --------------- */

.cards-section > h1{
    text-align: center;
    font-size: 60px;
    padding-bottom: 100px;
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--primary-color);
}
/* Designing card image */
.card img{
    border-radius: 20px;
    height: 400px;
    width: 370px;
}

/* Designing Card */
.card{
    display: flex;
    flex-direction: column;
    flex-basis: 30vw;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-bottom: 40px;
}

/* Designing Card details */
.card-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    display: flex;
    height: 120px;
    width: 330px;
    border-radius: 20px;
    position: relative;
    bottom: 70px;
}
.card-details div{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    height: 100%;
}
.card-details button{
    font-weight: 800;
    height: 50px;
}

.card-details div h1{
    margin-bottom: 10px;
    font-size: 25px;
}
.card-details div p{
    color: var(--secondary-color);
    font-weight: 800;
    font-size: 20px;
}

/* Positioning individual cards */
.card:nth-child(2){
    top: 30px;
}
.card:nth-child(3){
    top: 60px;
}
.card:nth-child(4){
    top: 60px;
}
.card:nth-child(5){
    top: 30px;
}
.card:nth-child(6){
    top: 0px;
}
.card:nth-child(7){
    top: 0px;
}
.card:nth-child(8){
    top: 30px;
}
.card:nth-child(9){
    top: 60px;
}

/* ------------ Features Section ------------ */
.features-section h1{
    font-size: 60px;
    font-weight: 800;
}
.features-section p{
    font-size: 18px;
}

/* Designing First feature */
.first-feature{
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-feature div{  
    width: 50%;
}
.first-feature div:first-child{   
    position: relative;
}
.first-feature div  img:first-child{
    position: relative;
    left: -50px;
    height: 456px;
    width: 659px;
}
.first-feature div  img:last-child{
    position: absolute;
    left: 106px;
    top: -50px;
    height: 405px;
    width: 405px;
    border-radius: 60px;
}

.first-feature div:last-child h1,
.first-feature div:last-child h1,
.first-feature div:last-child p{
    margin-bottom: 30px;
    width: 80%;
}

/* Designing Second feature */
.second-feature{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.second-feature div:last-child{   
    position: relative;
}
.second-feature div  img:first-child{
    height: 465px;
    width: 718px;
}
.second-feature div  img:last-child{
    position: absolute;
    right: 127px;
    bottom: 115px;
    height: 405px;
    width: 405px;
    border-radius: 60px;
}
.second-feature div:first-child button{
    margin-left: 50px;
}
.second-feature div:first-child h1,
.second-feature div:first-child p{
    margin-bottom: 30px;
    margin-left: 50px;
    width: 80%;
}

/*  --------------- Newsletter Section ------------- */
.newsletter{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 60px;
    margin: 40px 5%;
    padding: 70px;
    color: #fff;
    text-align: center;
}
.newsletter h1{
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 30px;
    width: 75%;
}
.newsletter p{
    font-size: 18px;
    width: 65%;
    margin-left: 80px;
    margin-bottom: 30px;
}
.mail{
    display: flex;
    justify-content: space-around;
    height: 60px;
    width: 650px;
}
.mail div{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    border-radius: 30px;
    background-color: #5654d1;
    align-items: center;
    width: 70%;
}
.mail input{
    background-color: transparent;
    border:none;
}
.mail img{
    height: 25px;
    width: 25px;
}
.mail button{
    background-color: #fff;
    color: var(--secondary-color);
    font-weight: 800;
    padding: 10px 40px;
}

/* --------- Footer Section -------------- */

/* Footer left section */
footer{
    display:flex;
    justify-content: space-between;
    margin: 100px 8%;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
footer img[alt="logo-icon2"]{
    height: 45px;
}
.footer-left p{
    width: 55%;
    font-size: 18px;
}
.social img{
    margin-right: 20px;
    height: 45px;
    width: 45px;
}

/* Footer right section  */
.footer-right{
    display: flex;
    gap: 100px;
}
.footer-right ul li{
    line-height: 45px;
}
.footer-right ul li a{
    color: #000;
    font-weight: 400;
    font-size: 16px;

}
.footer-right ul li:first-of-type a{
    font-size: 20px;
    font-weight: 700;
}