<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/forgotPassword.css">
    <title>Forgot Password</title>
</head>

<body>
    <div id="form-container">
        <input type="email" id="emailInput" placeholder="Enter your email" required><br>
        <button id= "resetButton" >Reset Password</button><br>
        <div id="loading" style="display: none;">Sending...</div>
    </div>
    <!-- Script -->
    <script src="/assets/js/script1.js"></script>
</body>

</html>