<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>LogIn</title>
</head>

<body>
    <section>
        <header>
            <h1>Instagram Login</h1>
        </header>
        <main>
            <form action="/api/auth/login" method="post">
                <label for="userName">Username</label><br>
                <input type="text" id="userName" name="userName" placeholder="Enter Username"><br>

                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" placeholder="Enter password"><br>

                <button type="submit">Log In</button>

                <div class="linksContainer">
                    <a href="/api/auth/forgotpassword">Forgot Password?</a>
                    <a href="./signup">Sign Up</a>
                    <!-- Alternative <a href="/api/auth/signup">Sign Up</a> -->
                </div>
            </form>
        </main>
    </section>
</body>

</html>