<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- Google fonts -->
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/resetPassword.css">
    <title>Forgot Password</title>
</head>

<body>
    <div id="form-container">
        <input type="password" id="password" placeholder="Enter new password" required><br>
        <input type="password" id="confirmPassword" placeholder="Enter confirm password" required><br>
        <button id= "updateButton" >Update Password</button>
    </div>
    <!-- Script -->
    <script src="/assets/js/script2.js"></script>
</body>

</html>