<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css -->
    <link rel="stylesheet" href="/assets/css/user.css">
    <title>User</title>
</head>
<body>
    <Section>
        <img src="/assets/images/user.jpg" alt="profile picture">
        <h1><%=userName%></h1>
        <p><%= bio %></p><br>
        <span><%= email %></span><br>
        <span>Followers: 1000</span>
    </Section>
</body>
</html>