/* ----------- Css Reset ---------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
}

a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}
ul{
    list-style-type: none;
}
body{
    background-color: #f0f4f5;
    height: 100vh;
    overflow: hidden;
}

/* --------- Header -------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 10%;
}
nav img{
    width: 150px;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav ul li:last-child a{
    color: #20bc7e;
    font-weight: 900;
}

/* -------------------- Main Section ----------------- */
form{
    margin: 8% auto;
    padding: 20px;
    width: 350px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

input,textarea,button{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

input{
    height: 28px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
}

label{
    font-size: 18px;
    font-weight: 500;
}

form h1{
    margin-bottom: 15px;
    text-align: center;
}

textarea{
    border: none;
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    margin-bottom: 5px;
}

form button{
    height: 45px;
    background-color: #20bc7e;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-bottom: 0;
}

