/* ---------------- Css Reset --------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
form{
    padding: 80px 30px;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
}
label{
    font-size: 18px;
}
label:first-of-type{
    margin-right: 23px;
}
input{
    height: 20px;
    margin-bottom: 10px;
}
